<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <sitecore>
        <controlSources>
            <source mode="on" namespace="Fishtank.SharedSource.CustomFields.Fields" assembly="Fishtank.SharedSource.CustomFields" prefix="fishtank" />
        </controlSources>
    </sitecore>
</configuration>